

<h1>Log In!</h1>

<!--
<% if flash[:message]%>
  <%= flash[:message] %>
<% end %>-->

<p><%= flash[:error] %></p><!--added to display error message from controller-->


<%= form_for(:user) do |f|%> <!--becouse we not creating new user and create new instance of one, we just accessing existing in database, we can't use @user but :user, this is form for user model and attributes for user model, can be used form_tag-->
 <div class="form-group">
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username  %>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>

  <input type="checkbox"> Remember me

  <%= f.submit "Log In", class: "btn btn-default btn-primary" %>
 

<% end %>
</div>

