

<h1>Log In!</h1>

<p><%= flash[:error] %></p>

<%= form_for(:user) do |f|%> 
<div class="form-group">
  <%= f.label :username, "Username:" %>
  <%= f.text_field :username  %>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>

  <input type="checkbox"> Remember me

  <%= f.submit "Log In", class: "btn btn-default btn-primary" %>
<% end %>
</div>

