<h1>Sign Up!</h1>

<%= render partial: 'layouts/errors', locals: {object: @user}  %>

<form class="form-horizontal center" role="form">

<%= form_for(:user) do |f|%>
 <div class="form-group">
    <%= f.label :username, "Username:"%> 
    <%= f.text_field :username %>
  
 

  <%= f.label :email, "Email:" %>
  <%= f.email_field :email %>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
</div>
  <div class="form-group">
    <label>
      <input type="checkbox"> Remember me
    </label>  
  </div>

<div class="field">
  <div class="col-md-4">
    <%= f.submit "Sign Up", class: "btn btn-default btn-primary" %>
  </div>
</div>
<% end %>

</form>
