

<%=  display_header(@review)%>

<%= render partial: 'layouts/errors', locals: {object: @review} %>
<br>

<%= form_for(@review) do |f|%>
  <% if params[:chocolate_id] %><!--if it's neasted it will give hidden fiels otherwise it will give drop down selection-->
    <%= f.hidden_field :chocolate_id %>
  <% else %>
    <div class="form-group">
      <%= f.label :chocolate_id, "Select a Chocolate", class: "col-md-4 control-label" %>
      <%= f.collection_select :chocolate_id, Chocolate.alpha, :id, :title_and_brand, include_blank: true%><!--I want in drop down menye to desplay title and brend-->
    </div>
  <% end %>
  <br>
  
    <div class="form-group">
      <%= f.label :rating, "Rating", class: "col-md-4 control-label" %>
      <%= f.number_field :rating, min:1, max:5 %>
    </div>
 
    
  <br>
  <div class="form-group">
    <%= f.label :title, class: "col-md-4 control-label"  %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :content, class: "col-md-4 control-label"  %>
    <%= f.text_area :content, size: "25x5" %>
  </div>
  <br>
 
   
      <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
   
 
<% end %>

<!--

f.hidden_field :chocolate_id will prepopulate chocolate_id which I have as attribute in tabel
 chocolate_reviews GET    /chocolates/:chocolate_id/reviews(.:format)   reviews#index
                  POST   /chocolates/:chocolate_id/reviews(.:format)    reviews#create
  new_chocolate_review GET    /chocolates/:chocolate_id/reviews/new(.:format)    reviews#new            

-->