<%=  display_header(@review)%>
<%= render partial: 'layouts/errors', locals: {object: @review}  %>
<br>
<%= form_for(@review) do |f|%>
  <% if params[:chocolate_id] %>
    <%= f.hidden_field :chocolate_id %>
  <% else %>
    <div>
      <%= f.label :chocolate_id, "Select a Chocolate" %>
      <%= f.collection_select :chocolate_id, Chocolate.alpha, :id, :title_and_brand, include_blank: true %>
    </div>
  <% end %>
  <br>
<div>
    <%= f.label :stars %>
    <%= f.number_field :stars, min:0, max:5 %>
  </div>
  <br>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, size: "25x10" %>
  </div>
  <br>

  <%= f.submit %>


<% end %>
