

<h1>All the Chocolates</h1><br>
 
<% @chocolates.each do |chocolate| %>
<div class="form-group">
  <h3><strong><%= link_to chocolate.title, chocolate_path(chocolate.id)%>  -  <%= chocolate.brand.name %></strong></h3>
  
  <div>
    <h6><strong>Category:</strong> <%= chocolate.category %></h6>
  </div>

  <div>
    
    <p><strong>Description:</strong> <%= chocolate.description %></p>
  </div>

  <div>
  <% if chocolate.reviews.exists? %>
    <strong>Avgerage Rating: <%= chocolate.reviews.average(:rating).round(1) %> <%= "star".pluralize(chocolate.reviews.average(:rating).round(1)) %></strong>
  <% end %>
  </div>
<br>

  <div class=img>
  <% if chocolate.image.attached? %>
    <%= image_tag url_for(chocolate.thumbnail)%> 
  <% end %>
  </div>
<br>
  <strong><%= link_to "Write a review", new_chocolate_review_path(chocolate.id)%></strong>

</div> 
<br>
 <hr>
<br>
<% end %>