<h1>All the Chocolates</h1>

<% @chocolates.each do |chocolate| %>

  <h2><%= link_to chocolate.title, chocolate_path(chocolate.id)%>  -  <%= chocolate.brand.name %> </h2>
  
  <div>
    <h3><%= chocolate.category %></h3>
  </div>

  <div>
    <p><%= chocolate.description %></p>
  </div>

  <%= link_to "Write a review", new_chocolate_review_path(chocolate.id)%>

<% end %>