

<h1>All the Chocolates</h1><br>
<div class="gallery">
 
<% @chocolates.each do |chocolate| %>
<div class="form-group">
  <h2><strong><%= link_to chocolate.title, chocolate_path(chocolate.id)%>  -  <%= chocolate.brand.name %></strong></h2>
</div>   
  <div class="form-group">
    <strong>Category:</strong> <%= chocolate.category %>
  </div>

 <div class="form-group">
    
    <strong>Description:</strong> <%= chocolate.description %>
  </div>

 <div class="form-group">
  <% if chocolate.reviews.exists? %>
    <strong>Avgerage Rating: <%= chocolate.reviews.average(:rating).round(1) %> <%= "star".pluralize(chocolate.reviews.average(:rating).round(1)) %></strong>
  <% end %>
  </div>
<br>

  <div class=img>
  <% if chocolate.image.attached? %>
    <%= image_tag url_for(chocolate.thumbnail)%> 
  <% end %>
  </div>
<br>
<div class="form-group">
  <strong><%= link_to "Write a review", new_chocolate_review_path(chocolate.id)%></strong>

</div> 
<br>

<br>

<% end %>
</div>
<style> 


     
       
    
    </style> 