
<h1>Make a new chocolate!</h1>
<%= render partial: 'layouts/errors', locals: {object: @chocolate}  %>

<%= form_for(@chocolate) do |f|%>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :category %>
    <%= f.select :category, options_for_select(["Milk", "Dark", "White", "Caramels", "Biscuity", "Fruity&Nutty", "Others"]), include_blank: true  %>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

    
  <p> Select a Brand that already exists: </p>
  <div>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: 'Select One'%>
    <!--f is object, method is brand.id, collection is Brand.all,value that send to params is :id, desplayed is :name)   -->
  </div>

  <p> Or create a new Brand: </p>
  <div>
    <%=f.fields_for :brand do |b| %> <!--we need to be able to write attributes of another objects which means this needs to be a nested form-->
      <%= b.label :name %>
      <%= b.text_field :name %>
    <% end %>
  </div>
  <br>

  <%= f.submit %>
<% end %>

