<h1><%= @chocolate.title%>  </h1>


<% if @chocolate.image.attached? %>
  <%= image_tag url_for(@chocolate.image) %>
<% end %>

<div>
  <h5><strong>Brand: <%= @chocolate.brand.name %></strong> </h5>
</div>
 <div>
    <h6><strong>Category:</strong> <%= @chocolate.category %></h6>
</div>


<div>
    <p><strong>Description:</strong> <%= @chocolate.description %></p>
</div>

<br>

<strong><%= link_to "See all Reviews", chocolate_reviews_path(@chocolate) %></strong>

