<h1><%= @chocolate.title%>  </h1>

<div class="form-group">
<% if @chocolate.image.attached? %>
  <%= image_tag url_for(@chocolate.thumbnail) %>
<% end %>
</div>

 <div class="form-group">
  <strong>Brand: <%= @chocolate.brand.name %></strong> 
</div>
  <div class="form-group">
    <strong>Category:</strong> <%= @chocolate.category %>
</div>


 <div class="form-group">
   <strong>Description:</strong> <%= @chocolate.description %>
</div>

<br>
<strong> Added by: <%= @chocolate.user.username %></strong>
<br><br>
<strong><%= link_to "Edit chocolate", edit_chocolate_path(@chocolate) if @chocolate.user == current_user%></strong>
<br><br>
<strong><%= link_to "See all Reviews", chocolate_reviews_path(@chocolate) %></strong>

<style> 

     
       
        img { 
            float: left;  
            margin-right: 50px;
            padding-right: 20px; 
             object-fit: cover;
        } 
        p { 
            text-align: left; 
            font-size: 25px; 
        } 
    </style> 